.main-header {
  background-color: var(--secondary-color);
  height: 60px;
  display: flex;
  align-items: center;
  padding: 10px 5%;
  font-family: "Roboto";
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.07);
}

.main-header {
  display: flex;
  justify-content: space-between;
}

.main-header-left {
  display: flex;
  gap: 2px;
  align-items: center;
}

.main-header-links {
  display: flex;
  gap: 5px;
}

.main-header-navlinks {
  padding: 10px 14px;
  font-size: 16px;
  font-weight: 700;
  color: #333;
}
