* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: "IranSans";
  src: url("../assets/fonts/IRANSansWeb.ttf");
}

@font-face {
  font-family: "IranSansLight";
  src: url("../assets/fonts/IRANSansWeb_UltraLight.ttf");
}

@font-face {
  font-family: "IranSansBold";
  src: url("../assets/fonts/IRANSansWeb_Bold.ttf");
}

@font-face {
  font-family: "IranSansBlack";
  src: url("../assets/fonts/IRANSansWeb_Black.ttf");
}

@font-face {
  font-family: "IranSansFanum";
  src: url("../assets/fonts/IRANSansWeb\(FaNum\).ttf");
}

body {
}

h1 {
  font-family: "IranSansBlack";
  font-size: 35px;
}

p {
  font-family: "IranSans";
}
